body {
  overflow-x: hidden;
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 578px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
  }
}
/*
*********************
Top navigation bar
*********************
*/
.topnav-flex-container {
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  background-color: #1A2530;
}

#topnav-brand > img {
  width: 100px;
  padding-left: 10px;
  height: 100%;
}

#topnav-list {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1%;
  position: relative;
  border-bottom: none;
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  height: 100%;
}

#topnav-list > li {
  float: none;
  margin-bottom: 0;
  text-align: left;
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

#topnav-list > .active-page {
  background-color: #FC9E49;
}

#topnav-list > li:hover {
  background-color: #FC9E49;
  color: #FFFFFF;
  display: block;
}

#topnav-list > li > a {
  display: block;
  text-decoration: none;
  white-space: normal;
  color: white;
  font-size: 1em;
  line-height: 49px;
  padding: 0 15px;
  text-transform: uppercase;
}

@media (min-width: 578px) {
  #topnav-list {
    float: right;
    border-bottom: 5px solid #FC9E49;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
  }

  #topnav-list > li {
    border-bottom: 5px solid transparent;
    float: left;
    margin-bottom: -5px;
  }
}
/*
*********************
Home page - Jumbotron
*********************
*/
.overflow-prevention {
  position: relative;
  overflow: hidden;
}

.jumbotron::before {
  opacity: 0.4;
  position: absolute;
}

.jumbotron {
  width: 100%;
  height: 500px;
  background-color: white;
  position: relative;
  background-image: url(../images/jumbotron_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave-container {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: -20px;
  right: 50%;
}

.wave-line {
  display: none;
  background: #034078;
  width: 20px;
  float: left;
  -webkit-animation: wave-anim 5s infinite ease-in-out alternate;
  animation: wave-anim 5s infinite ease-in-out alternate;
  position: absolute;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  border: 1px solid #034078;
  border-radius: 20px 20px 0 0;
  -webkit-transform: translateY(-170px);
  transform: translateY(-170px);
  height: 170px;
}

.wave-line:nth-child(1) {
  display: block;
  animation-delay: 0.15s;
  left: 0px;
}

.wave-line:nth-child(2) {
  display: block;
  animation-delay: 0.3s;
  left: 20px;
}

.wave-line:nth-child(3) {
  display: block;
  animation-delay: 0.45s;
  left: 40px;
}

.wave-line:nth-child(4) {
  display: block;
  animation-delay: 0.6s;
  left: 60px;
}

.wave-line:nth-child(5) {
  display: block;
  animation-delay: 0.75s;
  left: 80px;
}

.wave-line:nth-child(6) {
  display: block;
  animation-delay: 0.9s;
  left: 100px;
}

.wave-line:nth-child(7) {
  display: block;
  animation-delay: 1.05s;
  left: 120px;
}

.wave-line:nth-child(8) {
  display: block;
  animation-delay: 1.2s;
  left: 140px;
}

.wave-line:nth-child(9) {
  display: block;
  animation-delay: 1.35s;
  left: 160px;
}

.wave-line:nth-child(10) {
  display: block;
  animation-delay: 1.5s;
  left: 180px;
}

.wave-line:nth-child(11) {
  display: block;
  animation-delay: 1.65s;
  left: 200px;
}

.wave-line:nth-child(12) {
  display: block;
  animation-delay: 1.8s;
  left: 220px;
}

.wave-line:nth-child(13) {
  display: block;
  animation-delay: 1.95s;
  left: 240px;
}

.wave-line:nth-child(14) {
  display: block;
  animation-delay: 2.1s;
  left: 260px;
}

.wave-line:nth-child(15) {
  display: block;
  animation-delay: 2.25s;
  left: 280px;
}

.wave-line:nth-child(16) {
  display: block;
  animation-delay: 2.4s;
  left: 300px;
}

.wave-line:nth-child(17) {
  display: block;
  animation-delay: 2.55s;
  left: 320px;
}

.wave-line:nth-child(18) {
  display: block;
  animation-delay: 2.7s;
  left: 340px;
}

.wave-line:nth-child(19) {
  display: block;
  animation-delay: 2.85s;
  left: 360px;
}

.wave-line:nth-child(20) {
  display: block;
  animation-delay: 3s;
  left: 380px;
}

.wave-line:nth-child(21) {
  display: block;
  animation-delay: 3.15s;
  left: 400px;
}

.wave-line:nth-child(22) {
  display: block;
  animation-delay: 3.3s;
  left: 420px;
}

.wave-line:nth-child(23) {
  display: block;
  animation-delay: 3.45s;
  left: 440px;
}

.wave-line:nth-child(24) {
  display: block;
  animation-delay: 3.6s;
  left: 460px;
}

.wave-line:nth-child(25) {
  display: block;
  animation-delay: 3.75s;
  left: 480px;
}

.wave-line:nth-child(26) {
  display: block;
  animation-delay: 3.9s;
  left: 500px;
}

.wave-line:nth-child(27) {
  display: block;
  animation-delay: 4.05s;
  left: 520px;
}

.wave-line:nth-child(28) {
  display: block;
  animation-delay: 4.2s;
  left: 540px;
}

.wave-line:nth-child(29) {
  display: block;
  animation-delay: 4.35s;
  left: 560px;
}

.wave-line:nth-child(30) {
  display: block;
  animation-delay: 4.5s;
  left: 580px;
}

.wave-line:nth-child(31) {
  display: block;
  animation-delay: 4.65s;
  left: 600px;
}

@-webkit-keyframes wave-anim {
  0% {
    -webkit-transform: translateY(-170px);
    transform: translateY(-170px);
    height: 170px;
  }
  100% {
    -webkit-transform: translateY(-270px);
    transform: translateY(-270px);
    height: 270px;
  }
}
@keyframes wave-anim {
  0% {
    -webkit-transform: translateY(-170px);
    transform: translateY(-170px);
    height: 170px;
  }
  100% {
    -webkit-transform: translateY(-270px);
    transform: translateY(-270px);
    height: 270px;
  }
}
@media (min-width: 400px) {
  .wave-line {
    width: 50px;
  }

  .wave-line:nth-child(1) {
    left: 0px;
  }

  .wave-line:nth-child(2) {
    left: 50px;
  }

  .wave-line:nth-child(3) {
    left: 100px;
  }

  .wave-line:nth-child(4) {
    left: 150px;
  }

  .wave-line:nth-child(5) {
    left: 200px;
  }

  .wave-line:nth-child(6) {
    left: 250px;
  }

  .wave-line:nth-child(7) {
    left: 300px;
  }

  .wave-line:nth-child(8) {
    left: 350px;
  }

  .wave-line:nth-child(9) {
    left: 400px;
  }

  .wave-line:nth-child(10) {
    left: 450px;
  }

  .wave-line:nth-child(11) {
    left: 500px;
  }

  .wave-line:nth-child(12) {
    left: 550px;
  }

  .wave-line:nth-child(13) {
    left: 600px;
  }

  .wave-line:nth-child(14) {
    left: 650px;
  }

  .wave-line:nth-child(15) {
    left: 700px;
  }

  .wave-line:nth-child(16) {
    left: 750px;
  }

  .wave-line:nth-child(17) {
    left: 800px;
  }

  .wave-line:nth-child(18) {
    left: 850px;
  }

  .wave-line:nth-child(19) {
    left: 900px;
  }

  .wave-line:nth-child(20) {
    left: 950px;
  }

  .wave-line:nth-child(21) {
    left: 1000px;
  }

  .wave-line:nth-child(22) {
    left: 1050px;
  }

  .wave-line:nth-child(23) {
    left: 1100px;
  }

  .wave-line:nth-child(24) {
    left: 1150px;
  }

  .wave-line:nth-child(25) {
    left: 1200px;
  }

  .wave-line:nth-child(26) {
    left: 1250px;
  }

  .wave-line:nth-child(27) {
    left: 1300px;
  }

  .wave-line:nth-child(28) {
    left: 1350px;
  }

  .wave-line:nth-child(29) {
    left: 1400px;
  }

  .wave-line:nth-child(30) {
    left: 1450px;
  }

  .wave-line:nth-child(31) {
    left: 1500px;
  }
}
.jumbotron svg {
  position: absolute;
  top: 160px;
  width: 70%;
  height: 70%;
}

#wave path,
#underwater {
  position: absolute;
  -webkit-animation: ship-water-anim 2s ease 2s infinite alternate;
  animation: ship-water-anim 2s ease 2s infinite alternate;
  stroke: #034078;
  fill: #034078;
}

#left_x5F_hull_x5F_whitespace,
#right_x5F_hull_x5F_whitespace {
  fill: #FC9E49;
}

@-webkit-keyframes ship-water-anim {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@keyframes ship-water-anim {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
.jumbotron h1,
.jumbotron h2 {
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4em;
}

.jumbotron h1 {
  padding-top: 2%;
}

.jumbotron h2 {
  padding-top: 0;
  color: black;
}

.jumbotron h1 {
  font-family: "Montserrat", sans-serif;
}

.stronger-h1-letters {
  font-size: 1.2em;
}

.orange-letters {
  color: #ad6d1d;
}

.jumbotron .button-primary {
  display: none;
}

@media (min-width: 578px) {
  .jumbotron .button.button-primary, button.button-primary, input[type=submit].button-primary, input[type=reset].button-primary, input[type=button].button-primary {
    display: block;
    position: relative;
    float: right;
    margin-top: 10px;
    background-color: #1A2530;
    border-color: #FC9E49;
    font-size: 15px;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
  }
  .jumbotron .button.button-primary:hover, button.button-primary:hover, input[type=submit].button-primary:hover, input[type=reset].button-primary:hover, input[type=button].button-primary:hover {
    background-color: #FC9E49;
  }
}
@media (min-width: 685px) {
  .jumbotron h1,
.jumbotron h2 {
    font-size: 3.2em;
  }
}
/*
*********************
Home Page - Introduction box
*********************
*/
#intro-box {
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

#intro-box > h1,
#intro-box > h2,
#intro-box > h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

#intro-box > h2:first-child {
  font-family: "Montserrat", sans-serif;
  color: #FC9E49;
  font-weight: 900;
}

.stronger-h3-letters {
  font-weight: bold;
}

/*
*********************
Home page - Cards
*********************
*/
.rope-background {
  background-image: url(../images/rope.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

#cards-container {
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  -ms-flex-pack: space-around;
  -webkit-box-align: space-around;
  -ms-flex-align: space-around;
  align-items: space-around;
  -webkit-align-items: space-around;
  -moz-align-items: space-around;
  -ms-align-items: space-around;
  -o-align-items: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  width: 100%;
}

#cards-container .button.button-primary, button.button-primary, input[type=submit].button-primary, input[type=reset].button-primary, input[type=button].button-primary {
  display: block;
  position: relative;
  margin-top: 10px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: #1A2530;
  border-color: #FC9E49;
  font-size: 15px;
}

#cards-container > div {
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  position: relative;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  background: white;
  text-decoration: none;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 400px;
  height: 550px;
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
}
#cards-container > div:hover {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

#cards-container .thumb {
  height: 50%;
  width: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom: 5px solid #FC9E49;
}

#cards-container .about-card {
  background-color: #1A2530;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  position: relative;
}

#cards-container .about-card > h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

#cards-container .about-card > h3 {
  color: #FC9E49;
  margin: 0;
}

.card-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline;
}

.card-bottom-half {
  padding: 10%;
  background-color: #1A2530;
  height: 50%;
  display: block;
  position: relative;
}

.card-title {
  font-weight: bold;
  color: white;
}

.card-description {
  font-size: 16px;
  padding-left: 10px;
  color: white;
}

/*
*********************
Fixed contact sidebar
*********************
*/
.contact-fixed-sidebar {
  display: none;
}

@media (min-width: 657px) {
  .contact-fixed-sidebar {
    display: block;
    position: fixed;
    left: 0;
    width: 48px;
    height: 336px;
    margin: 0;
    top: 40%;
    list-style-type: none;
    z-index: 3;
  }

  .contact-fixed-sidebar a {
    text-decoration: none;
    display: block;
  }

  .contact-fixed-sidebar li {
    margin-bottom: 0;
  }

  .contact-fixed-sidebar span {
    background-color: #293345;
    color: white;
    height: 200px;
    font-size: 2em;
    padding: 10px;
    text-align: left;
  }

  .contact-fixed-sidebar {
    height: 200px;
  }
}
.footer-container {
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  padding: 0;
  margin: 0;
  border-bottom: 5px solid #b3b3b3;
  border-top: 5px solid #b3b3b3;
  background-color: #034078;
}

#footer-container-right {
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  width: 500px;
  height: 100%;
  padding-top: 10px;
}

#footer-container-left {
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  width: 400px;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

#footer-container-left > h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

#footer-container-left > h3 {
  color: #FC9E49;
  margin: 0;
}

.footer-container ul {
  display: block;
  position: relative;
  width: 100%;
  list-style-position: inside;
}

.footer-container li {
  position: relative;
  display: block;
  list-style-type: none;
  width: 100%;
}

.footer-container a {
  text-decoration: none;
}

.footer-container span {
  color: white;
  height: 200px;
  font-size: 2em;
  padding: 10px;
  text-align: left;
}

.footer-container .contact-text {
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: auto 0 0 0;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

/*
*********************
Linked page - Title header
*********************
*/
.jumbo-header-behind {
  position: relative;
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  width: 100%;
  height: 180px;
  background-color: #4f5d73;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  z-index: 1;
}

.jumbo-header-front {
  position: relative;
  width: 100%;
  height: 160px;
  background-color: #1A2530;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-top: -180px;
  margin-bottom: 50px;
  z-index: 2;
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  padding-top: 20px;
}

.jumbo-header-front > h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 500;
  margin-bottom: 0;
  text-align: center;
  font-size: 4rem;
  width: 80%;
}

.jumbo-header-front .anchor::before {
  content: url("../images/anchor_icon.png");
  text-align: center;
}

.jumbo-header-front .anchor {
  text-align: center;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}

@media (min-width: 660px) {
  .jumbo-header-front .anchor {
    visibility: visible;
  }
}
/*
*********************
About page - Personality box
*********************
*/
.tag-and-portrait-container {
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 100%;
  margin-bottom: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  background-color: white;
}

.tag-container {
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 10px;
  height: 100%;
  width: 100%;
  position: relative;
}

.tag-container h1 {
  text-align: center;
}

.tag-container ul {
  width: 90%;
  padding-left: 20px;
}

.bold {
  font-weight: bold;
}

.tag-container li {
  font-size: 1.2em;
}

.portrait-container {
  display: inline;
  text-align: center;
  height: 100%;
  width: 95%;
}

.portrait-container > div::before {
  content: url("../images/self_thumb.png");
  margin-left: auto;
}

.portrait-container > div {
  width: 100%;
  height: 100%;
}

@media (min-width: 800px) {
  .tag-and-portrait-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    width: 735px;
    height: 450px;
  }

  .portrait-container {
    width: 350px;
    text-align: right;
  }

  .tag-container {
    width: 400px;
    height: 300px;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 0;
  }

  .portrait-container > div {
    margin-right: 0;
  }
}
/*
*********************
About page - Timeline
*********************
*/
.timeline-parent {
  width: 100%;
  background-color: white;
  position: relative;
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  margin-left: auto;
  margin-bottom: 20px;
  padding-top: 40px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  overflow: hidden;
}

.timeline-container {
  margin-bottom: 20px;
  width: 90%;
  margin-left: 2em;
}

.list-gap {
  width: 100px;
  height: 20px;
  background-color: white;
}

.timeline-container > ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 90%;
  overflow: hidden;
}

.timeline-container > ul > li {
  float: left;
  position: relative;
  width: 80%;
  list-style-type: none;
  display: block;
  margin-bottom: 0;
}

.timeline-container > ul > li::before {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #293345;
  top: 0px;
  bottom: 0px;
  left: 20px;
  margin-left: -3px;
}

.list-content {
  margin-left: 50px;
  color: white;
  width: 100%;
  padding-right: 50px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  background-color: #293345;
}

.list-content > p {
  font-size: 1.1em;
}

.timeline-container > ul > li::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 3px;
  background-color: white;
  border: 4px solid #FC9E49;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.year-text {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/*
*********************
About page - Where I see myself
*********************
*/
.see-myself {
  padding-left: 2%;
  padding-right: 2%;
}

.see-myself li {
  font-size: 1.2em;
}

/*
*********************
Linked page - skills/experience background
*********************
*/
.main-content {
  background-color: #E7E5DF;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*
****************************************************
Skills/experience pages - Skills and Experience Headings
****************************************************
*/
.skills-exp-cont {
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  margin-bottom: 30px;
  background-color: white;
  position: relative;
}

.skills-exp-cont li {
  font-size: 1.2em;
  padding-left: 5%;
  padding-right: 1%;
}

.skills-exp-cont-left {
  width: 100%;
  height: 50%;
}

.skills-exp-cont-left > h2 {
  text-align: center;
}

.skills-exp-cont-right {
  width: 100%;
  height: 50%;
}

.cert-cont {
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  background-color: white;
  position: relative;
}

.cert-cont-bottom {
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
}

div[class*=cert-logo] {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 5px solid #b3b3b3;
}

.cert-logo-rhcsa::before {
  content: url("../images/rhcsa_logo.png");
}

.cert-logo-ccna::before {
  content: url("../images/ccna_logo.png");
}

@media (min-width: 800px) {
  .skills-exp-cont {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
  }

  .skills-exp-cont-left {
    width: 50%;
    height: 100%;
  }

  .skills-exp-cont-right {
    width: 50%;
    height: 100%;
  }
}
@media (min-width: 500px) {
  .cert-cont {
    height: 500px;
  }

  .cert-cont-bottom {
    display: -webkit-box;
    display: flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
  }
}
/*
*********************
Linked page - Projects
*********************
*/
.projects-cont {
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  margin-bottom: 30px;
  background-color: white;
  position: relative;
}

.projects-cont-left {
  width: 100%;
  height: 50%;
}

.projects-cont-left > h2 {
  text-align: center;
}

.projects-cont-right {
  width: 100%;
  height: 50%;
}

/*
@media (min-width: 800px) {
  .projects-cont {
      flex-direction: row;

      align-items: flex-start;

      justify-content: flex-start;
  }

  .projects-cont-left {
      width: 50%;
      height: 100%;
  }

  .projects-cont-right {
      width: 50%;
      height: 100%;
  }

  .sticky {
    position: fixed;
    top: 0;
  }

}
*/
.project-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  flex: 0 1 auto;
  align-items: space-around;
  justify-content: space-around;
  width: 100%;
}

.projects-thumb {
  height: 50%;
  width: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom: 5px solid #FC9E49;
  content: url(../images/xamarin_logo.png);
}

.project-cards-container .button.button-primary, button.button-primary, input[type=submit].button-primary, input[type=reset].button-primary, input[type=button].button-primary {
  display: block;
  position: relative;
  margin-top: 10px;
  max-width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #1A2530;
  border-color: #FC9E49;
  font-size: 15px;
}

.project-cards-container > div {
  display: flex;
  flex: 0 1 auto;
  position: relative;
  flex-basis: auto;
  flex-direction: column;
  justify-content: flex-start;
  background: #1A2530;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in;
  width: auto;
  height: auto;
  margin-bottom: 30px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 3%;
}
.project-cards-container > div:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.project-cards-container > div > h2, h4 {
  color: white;
}

/*
*********************
Linked page - Projects popup
*********************
*/
.blur-in {
  -webkit-animation: blurin 2s forwards;
  -moz-animation: blurin 2s forwards;
  -o-animation: blurin 2s forwards;
  animation: blurin 2s forwards;
  z-index: 4;
}

#background {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@keyframes blurin {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }
}
@-webkit-keyframes blurin {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
}
@-moz-keyframes blurin {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
}
@-o-keyframes blurin {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
}
.project-popup {
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  transform: translateY(100px);
  pointer-events: none;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  overflow-y: scroll;
}

.project-popup:target {
  transform: translateY(0px);
  opacity: 1;
  pointer-events: auto;
}

.project-popup > div {
  position: relative;
  padding: 2rem;
}

.project-popup .close-project-popup {
  position: relative;
  float: right;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 578px) {
  .project-popup {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
  }
}
.fa-window-close {
  font-size: 2em;
  color: #FC9E49;
  background-color: #293345;
  padding-right: 20px;
  padding-top: 25%;
}

.popup-header {
  width: 100%;
  height: 100px;
  background-color: #293345;
}

.project-popup > div {
  padding: 0;
}

.popup-content {
  padding: 5% 5% 5% 5%;
}

.popup-content > p {
  font-size: 1.2em;
}

.popup-content > h4 {
  color: black;
}

.popup-content .popup-content-border {
  border-bottom: 5px solid #FC9E49;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
}

.project-screenshots {
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  width: 100%;
  height: 100%;
}

.project-screenshots-pqlines1::before {
  content: url("../images/pqlines_main.png");
}

.project-screenshots-pqlines2::before {
  content: url("../images/pqlines_selection.png");
}

/*
*********************
Linked page - Generic flex container
*********************
*/
.generic-flex-container {
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  background-color: white;
}

.generic-flex-container > h1 {
  padding-left: 2%;
  padding-top: 2%;
}

.generic-flex-container > h3 {
  padding-left: 2%;
  padding-top: 2%;
}

.generic-flex-container > p {
  padding-left: 2%;
  font-size: 1.2em;
}

/*# sourceMappingURL=custom.css.map */
