body {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

/*
*********************
Top navigation bar
*********************
*/
.topnav-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: #293345; }

#topnav-brand > img {
  width: 100px;
  padding-left: 10px; }

#topnav-list {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 1%;
  position: relative;
  border-bottom: none; }

#topnav-list > li {
  float: none;
  margin-bottom: 0;
  text-align: left;
  transition: all 300ms ease-in-out 0s; }

#topnav-list > .active-page {
  background-color: #da871f; }

#topnav-list > li:hover {
  background-color: #da871f;
  color: #FFFFFF;
  display: block; }

#topnav-list > li > a {
  display: block;
  text-decoration: none;
  white-space: normal;
  /*transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;*/
  color: white;
  font-size: 1.3em;
  line-height: 49px;
  padding: 0 15px;
  text-transform: uppercase; }

@media (min-width: 400px) {
  #topnav-list {
    float: right;
    border-bottom: 5px solid #da871f; }

  #topnav-list > li {
    border-bottom: 5px solid transparent;
    float: left;
    margin-bottom: -5px; } }
/*
*********************
Home page - Jumbotron
*********************
*/
.jumbotron::before {
  opacity: 0.4;
  position: absolute; }

.jumbotron {
  width: 100%;
  height: 500px;
  background-color: white;
  position: relative;
  background-image: url(../images/jumbotron_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.wave-container {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: -20px;
  right: 50%; }

.wave-line {
  background: #5284a1;
  width: 20px;
  float: left;
  animation: wave-anim 5s infinite ease-in-out alternate;
  position: absolute; }

.wave-line:nth-child(1) {
  animation-delay: 0.08s;
  left: 20px; }

.wave-line:nth-child(2) {
  animation-delay: 0.16s;
  left: 40px; }

.wave-line:nth-child(3) {
  animation-delay: 0.24s;
  left: 60px; }

.wave-line:nth-child(4) {
  animation-delay: 0.32s;
  left: 80px; }

.wave-line:nth-child(5) {
  animation-delay: 0.4s;
  left: 100px; }

.wave-line:nth-child(6) {
  animation-delay: 0.48s;
  left: 120px; }

.wave-line:nth-child(7) {
  animation-delay: 0.56s;
  left: 140px; }

.wave-line:nth-child(8) {
  animation-delay: 0.64s;
  left: 160px; }

.wave-line:nth-child(9) {
  animation-delay: 0.72s;
  left: 180px; }

.wave-line:nth-child(10) {
  animation-delay: 0.8s;
  left: 200px; }

.wave-line:nth-child(11) {
  animation-delay: 0.88s;
  left: 220px; }

.wave-line:nth-child(12) {
  animation-delay: 0.96s;
  left: 240px; }

.wave-line:nth-child(13) {
  animation-delay: 1.04s;
  left: 260px; }

.wave-line:nth-child(14) {
  animation-delay: 1.12s;
  left: 280px; }

.wave-line:nth-child(15) {
  animation-delay: 1.2s;
  left: 300px; }

.wave-line:nth-child(16) {
  animation-delay: 1.28s;
  left: 320px; }

.wave-line:nth-child(17) {
  animation-delay: 1.36s;
  left: 340px; }

.wave-line:nth-child(18) {
  animation-delay: 1.44s;
  left: 360px; }

.wave-line:nth-child(19) {
  animation-delay: 1.52s;
  left: 380px; }

@keyframes wave-anim {
  0% {
    transform: translateY(-200px);
    height: 200px; }
  100% {
    transform: translateY(-300px);
    height: 300px; } }
@media (min-width: 400px) {
  .wave-line {
    width: 50px; }

  .wave-line:nth-child(1) {
    animation-delay: 0.08s;
    left: 50px; }

  .wave-line:nth-child(2) {
    animation-delay: 0.16s;
    left: 100px; }

  .wave-line:nth-child(3) {
    animation-delay: 0.24s;
    left: 150px; }

  .wave-line:nth-child(4) {
    animation-delay: 0.32s;
    left: 200px; }

  .wave-line:nth-child(5) {
    animation-delay: 0.4s;
    left: 250px; }

  .wave-line:nth-child(6) {
    animation-delay: 0.48s;
    left: 300px; }

  .wave-line:nth-child(7) {
    animation-delay: 0.56s;
    left: 350px; }

  .wave-line:nth-child(8) {
    animation-delay: 0.64s;
    left: 400px; }

  .wave-line:nth-child(9) {
    animation-delay: 0.72s;
    left: 450px; }

  .wave-line:nth-child(10) {
    animation-delay: 0.8s;
    left: 500px; }

  .wave-line:nth-child(11) {
    animation-delay: 0.88s;
    left: 550px; }

  .wave-line:nth-child(12) {
    animation-delay: 0.96s;
    left: 600px; }

  .wave-line:nth-child(13) {
    animation-delay: 1.04s;
    left: 650px; }

  .wave-line:nth-child(14) {
    animation-delay: 1.12s;
    left: 700px; }

  .wave-line:nth-child(15) {
    animation-delay: 1.2s;
    left: 750px; }

  .wave-line:nth-child(16) {
    animation-delay: 1.28s;
    left: 800px; }

  .wave-line:nth-child(17) {
    animation-delay: 1.36s;
    left: 850px; }

  .wave-line:nth-child(18) {
    animation-delay: 1.44s;
    left: 900px; }

  .wave-line:nth-child(19) {
    animation-delay: 1.52s;
    left: 950px; } }
.jumbotron svg {
  position: absolute;
  top: 130px;
  width: 70%;
  height: 70%; }

#wave path,
#underwater {
  position: absolute;
  animation: ship-water-anim 2s ease 2s infinite alternate;
  stroke: #5284a1;
  fill: #5284a1; }

#left_x5F_hull_x5F_whitespace,
#right_x5F_hull_x5F_whitespace {
  fill: #da871f; }

@keyframes ship-water-anim {
  0% {
    transform: translateY(10px); }
  100% {
    transform: translateY(-40px); } }
.jumbotron h1,
.jumbotron h2 {
  margin-bottom: 0;
  text-align: right;
  margin-right: 8%;
  text-transform: uppercase;
  font-size: 2em; }

.jumbotron h1 {
  padding-top: 2%; }

.jumbotron h2 {
  padding-top: 0;
  color: whitesmoke; }

.jumbotron h1 {
  font-family: 'Montserrat', sans-serif; }

.stronger-h1-letters {
  font-size: 1.2em; }

.orange-letters {
  color: #ad6d1d; }

.button-primary {
  display: none; }

@media (min-width: 400px) {
  .button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    display: block;
    position: relative;
    float: right;
    margin-top: 10px;
    background-color: #293345;
    border-color: #da871f;
    font-size: 15px;
    transition: all 300ms ease-in-out 0s; }
    .button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover {
      background-color: #da871f; }

  .jumbotron h1,
  .jumbotron h2 {
    font-size: 3em; } }
/*
*********************
Home Page - Introduction box
*********************
*/
#intro-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #b3b3b3; }

#intro-box > h1,
#intro-box > h2,
#intro-box > h3 {
  text-transform: uppercase;
  margin-bottom: 10px; }

#intro-box > h2:first-child {
  font-family: 'Montserrat', sans-serif;
  color: #ad6d1d;
  font-weight: 900; }

.stronger-h3-letters {
  font-weight: bold; }

/*
*********************
Home page - Cards
*********************
*/
#cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5%;
  justify-content: space-around; }

#cards-container > div {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all .3s ease-in;
  width: 400px;
  height: 550px;
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px; }
  #cards-container > div:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2); }

#cards-container .thumb {
  height: 400px;
  width: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom: 5px solid #da871f; }

#cards-container .about-card {
  background-color: #293345;
  align-items: center;
  justify-content: center;
  position: relative; }

#cards-container .about-card > h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0; }

#cards-container .about-card > h3 {
  color: #da871f;
  margin: 0; }

.card-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline; }

.card-bottom-half {
  background-color: #293345;
  height: 100%; }

.card-bottom-tags {
  font-size: 12px;
  font-weight: bold;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: auto 0 0 0; }

.card-title {
  font-weight: bold;
  color: white; }

.card-description {
  font-size: 16px;
  padding-left: 10px;
  color: white; }

/*
*********************
Fixed contact sidebar
*********************
*/
.contact-fixed-sidebar {
  display: none; }

@media (min-width: 550px) {
  .contact-fixed-sidebar {
    display: block;
    position: fixed;
    left: 0;
    width: 48px;
    height: 336px;
    margin: 0;
    top: 40%;
    list-style-type: none; }

  .contact-fixed-sidebar a {
    text-decoration: none;
    display: block; }

  .contact-fixed-sidebar li {
    margin-bottom: 0; }

  .contact-fixed-sidebar span {
    background-color: #293345;
    color: white;
    height: 200px;
    font-size: 2em;
    padding: 10px;
    text-align: left; }

  .contact-fixed-sidebar {
    height: 200px; } }
.footer-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  border-bottom: 5px solid #b3b3b3;
  border-top: 5px solid #b3b3b3;
  background-color: #5284a1; }

#footer-container-right {
  width: 500px;
  height: 100%;
  padding-top: 10px;
  background-color: #5284a1; }

#footer-container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto; }

#footer-container-left > h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0; }

#footer-container-left > h3 {
  color: #da871f;
  margin: 0; }

.footer-container li {
  display: block;
  list-style-type: none; }

.footer-container a {
  text-decoration: none; }

.footer-container span {
  color: white;
  height: 200px;
  font-size: 2em;
  padding: 10px;
  text-align: left; }

.footer-container .contact-text {
  font-size: 12px;
  font-weight: bold;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: auto 0 0 0;
  transform: translateY(10px); }

/*
*********************
Linked page - Title header
*********************
*/
.jumbo-header-behind {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 180px;
  background-color: #aebed0;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  z-index: 1; }

.jumbo-header-front {
  position: relative;
  width: 100%;
  height: 160px;
  background-color: #5284a1;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-top: -180px;
  margin-bottom: 50px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px; }

.jumbo-header-front > h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
  font-size: 4rem; }

.jumbo-header-front .anchor {
  content: url("../images/anchor-icon.png");
  visibility: hidden;
  transform: scale(0.5, 0.5); }

@media (min-width: 660px) {
  .jumbo-header-front .anchor {
    visibility: visible; } }
/*
*********************
About page - Personality box
*********************
*/
.tag-and-portrait-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 635px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  background-color: white; }

.tag-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 10px;
  height: 100%;
  width: 300px; }

.bold {
  font-weight: bold; }

.tag-container li {
  font-size: 1.3em; }

.portrait-container {
  height: 350px;
  width: 350px; }

.portrait-container > div {
  content: url("../images/self-thumb.png");
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 800px) {
  .tag-and-portrait-container {
    flex-direction: row;
    width: 635px;
    height: 350px; }

  .portrait-container {
    width: 350px; }

  .tag-container {
    width: 400px;
    height: 300px;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 0; }

  .portrait-container > div {
    margin-right: 0; } }
/*
*********************
About page - Timeline
*********************
*/
.timeline-parent {
  width: 100%;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 20px;
  padding-top: 40px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75); }

.timeline-container {
  margin-bottom: 20px;
  margin-left: 2em; }

.list-gap {
  width: 100px;
  height: 20px;
  background-color: white; }

.timeline-container > ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  overflow: hidden; }

.timeline-container > ul > li {
  float: left;
  position: relative;
  width: 80%;
  list-style-type: none;
  display: block;
  margin-bottom: 0; }

.timeline-container > ul > li::before {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #293345;
  top: 0px;
  bottom: 0px;
  left: 20px;
  margin-left: -3px; }

.list-content {
  margin-left: 50px;
  color: white;
  width: 100%;
  padding-right: 50px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  background-color: #293345; }

.list-content > p {
  font-size: 1.1em; }

.timeline-container > ul > li::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: 3px;
  background-color: white;
  border: 4px solid #da871f;
  top: 15px;
  border-radius: 50%;
  z-index: 1; }

time {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8px; }

/*
****************************************************
Infrastructure page - Skills and Experience Headings
****************************************************
*/
.skills-exp-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  background-color: white;
  position: relative; }

.skills-exp-cont-left {
  width: 100%;
  height: 50%; }

.skills-exp-cont-left > h1 {
  text-align: center; }

.skills-exp-cont-right {
  width: 100%;
  height: 50%; }

.cert-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  background-color: white;
  position: relative; }

.cert-cont-bottom {
  display: flex;
  flex-direction: column; }

.cert-logo {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 5px solid #b3b3b3; }

@media (min-width: 800px) {
  .skills-exp-cont {
    flex-direction: row; }

  .skills-exp-cont-left {
    width: 50%;
    height: 100%; }

  .skills-exp-cont-right {
    width: 50%;
    height: 100%; } }
@media (min-width: 500px) {
  .cert-cont-bottom {
    display: flex;
    flex-direction: row; } }

/*# sourceMappingURL=custom.css.map */
